

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Caprasimo', cursive;
    margin: 0;
    padding: 20px 0 10px 0;
}

h5 {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
}

p {
    display: flex;
    flex-direction: column;
    padding-left: 620px;

}